@model CarTallerCDL.T01Item

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Items</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Id Item
            @*@Html.DisplayNameFor(model => model.F01IdItem)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F01IdItem)
        </dd>
        <dt class = "col-sm-2">
            Descripcion
            @*@Html.DisplayNameFor(model => model.F01DescripionItem)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F01DescripionItem)
        </dd>
        <dt class = "col-sm-2">
            Tipo de item
            @*@Html.DisplayNameFor(model => model.F01TipoItem)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F01TipoItem)
        </dd>
        <dt class = "col-sm-2">
            Notas
            @*@Html.DisplayNameFor(model => model.F01Notas)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F01Notas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="F01RowidItem" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
