@model CarTallerCDL.T06Descuento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>T06Descuento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="F06RowidDescto" />
            <div class="form-group">
                <label asp-for="F06RowidItem" class="control-label"></label>
                <select asp-for="F06RowidItem" class="form-control" asp-items="ViewBag.F06RowidItem"></select>
                <span asp-validation-for="F06RowidItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F06RowidTerceroCliente" class="control-label"></label>
                <select asp-for="F06RowidTerceroCliente" class="form-control" asp-items="ViewBag.F06RowidTerceroCliente"></select>
                <span asp-validation-for="F06RowidTerceroCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F06Estado" class="control-label"></label>
                <select asp-for="F06Estado" class="form-control">
                    <option value="True">Activo</option>
                    <option value="False">Inactivo</option>
                </select>
                <span asp-validation-for="F06Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F06VlrMin" class="control-label"></label>
                <input asp-for="F06VlrMin" class="form-control" />
                <span asp-validation-for="F06VlrMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F06VlrMax" class="control-label"></label>
                <input asp-for="F06VlrMax" class="form-control" />
                <span asp-validation-for="F06VlrMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
